.home-page {
  width: 100%;
  min-height: 100vh; /* Ensure at least viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.25)), url('../icons/addpost.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This ensures that the background stays in place when you scroll */
}

  
.home-page .review {
  width: 700px;
  height: auto;
  max-height: 600px;
  background-color: #FAF9D0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 25px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 16px;
  opacity: 0.85;
}
  
.review .review-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.review-header .title {
  flex: 50%;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif; 
}

.review .review-author-rating {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 70%;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  color: grey;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif; 
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 100px;
}

.review .review-container {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 96%;
  overflow: hidden;
  overflow-y: auto;
  padding: 8px; 
  margin: 12px;
  border-radius: 8px; 
  text-align: justify;
}

.review .h4-container  {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif; 
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.search-container {
  position: relative;
  width: 70%;
  margin-bottom: 50px;
}

.search-input {
  width: 100%;
  height: 50px;
  padding: 10px 40px 10px 10px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-input:focus {
  outline: none;
  border-color: #007BFF;
}

.search-icon {
  position: absolute; 
  right: 10px;       
  top: 50%;          
  transform: translateY(-50%); 
  cursor: pointer;
  color: #aaa;      
  padding-right: 8px; 
}

.search-input:focus + .search-icon {
  color: #777;      
}